ol.toc {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ol.toc li a {
  font-size: 2em;
  text-decoration: none;
}

a.title {
	font-size: 125%;
	font-style: bold;
}

p.introduction {
  width: 85%;
}

p.topic {
  width: 85%;
	border:1px solid;
	padding: 1em;
}

pre.code {
  padding: 20px;
  background-color: #F0FFF0;
	width: 85%;
	word-wrap:break-word;
}

div.container {
  width: 700px;
}


div.sources {
	width: 85%;
	padding: 20px;
	background-color:#ddd;
	margin-left:0px;
}